{% extends "extend/base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block content %}

	<!-- Inner Page Breadcrumb -->
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="breadcrumb_content">
						<ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="{% url 'homepage:homepage' %}">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Contact</li>
						</ol>
						<h4 class="breadcrumb_title">Contact Us</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Contact -->
	<section class="our-contact pb0 bgc-f7">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-xl-8">
					<div class="form_grid">
						<h4 class="mb5">Send Us An Email</h4>
						<p>
							{{contact_info.send_email}}
						</p>
			            <form class="contact_form" id="contact_form" name="contact_form" action="{% url 'project_info:contact' %}" method="post" novalidate="novalidate">{% csrf_token %}
							<div class="row">
				                <div class="col-md-6">
				                    <div class="form-group">
										<input id="form_name" name="name" class="form-control" required="required" type="text" placeholder="Name" {% if form.name.value %}value="{{form.name.value}}"{% endif %}>
									</div>
									{% if form.name.errors %}
										<div class="error">{{ form.name.errors }}</div>
									{% endif %}
				                </div>
				                <div class="col-md-6">
				                    <div class="form-group">
				                    	<input id="form_email" name="email" class="form-control required email" required="required" type="email" placeholder="Email" {% if form.email.value %}value="{{form.email.value}}"{% endif %}>
				                    </div>
									{% if form.email.errors %}
										<div class="error">{{ form.email.errors }}</div>
									{% endif %}
				                </div>
				                <div class="col-md-6">
				                    <div class="form-group">
				                    	<input id="form_phone" name="phone" class="form-control required phone" required="required" type="phone" placeholder="Phone" {% if form.phone.value %}value="{{form.phone.value}}"{% endif %}>
				                    </div>
									{% if form.phone.errors %}
										<div class="error">{{ form.phone.errors }}</div>
									{% endif %}
				                </div>
				                <div class="col-md-6">
				                    <div class="form-group">
					                    <input id="form_subject" name="subject" class="form-control required" required="required" type="text" placeholder="Subject" {% if form.subject.value %}value="{{form.subject.value}}"{% endif %}>
									</div>
									{% if form.subject.errors %}
										<div class="error">{{ form.subject.errors }}</div>
									{% endif %}
				                </div>
				                <div class="col-sm-12">
		                            <div class="form-group">
		                                <textarea id="form_message" name="message" class="form-control required" rows="8" required="required" placeholder="Your Message">{% if form.message.value %}{{form.message.value}}{% endif %}</textarea>
		                            </div>
									{% if form.message.errors %}
										<div class="error">{{ form.message.errors }}</div>
									{% endif %}
									{% if form.non_field_errors %}
										<div class="error">{{ form.non_field_errors }}</div>
									{% endif %}
				                    <div class="form-group mb0" style="display: flex;">
					                    <button type="submit" class="btn btn-lg btn-thm">Send Message</button>
										{% if success %}
											<p style="color: green; margin: auto; font-size: 1.2em;">Your message has been sent.</p>
										{% endif %}
				                    </div>
				                </div>
			                </div>
			            </form>
					</div>
				</div>
				<div class="col-lg-5 col-xl-4">
					<div class="contact_localtion">
						<h4>Contact Us</h4>
						<p>
							{{contact_info.contact_us}}
						</p>
						<div class="content_list">
							<h5>Address</h5>
							<p>{{contact_info.address}}</p>
						</div>
						<div class="content_list">
							<h5>Phone</h5>
							{% if phone2 %}
							<ul>
								<p>{{phone1}}<br>{{phone2}}</p> 
							</ul>
							{% else %}
								<p>{{phone1}}</p>
							{% endif %}
						</div>
						<div class="content_list">
							<h5>Mail</h5>
							<p>{{contact_info.mail}}</p>
						</div>
						<div class="content_list">
							<h5>Linkedin</h5>
							<p>{{contact_info.linkedin}}</p>
						</div>
						<h5>Follow Us</h5>
						<ul class="contact_form_social_area">
							<li class="list-inline-item"><a href="{{contact_info.facebook}}"><i class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="{{contact_info.twitter}}"><i class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="{{contact_info.instagram}}"><i class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item"><a href="{{contact_info.google}}"><i class="fa fa-google"></i></a></li>
							<li class="list-inline-item"><a href="{{contact_info.pinterest}}"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid p0 mt50">
			<div class="row">
				{% comment %} <div class="col-lg-12"> {% endcomment %}
					{% comment %} <div class="h600" id="map-canvas"> {% endcomment %}
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.4098483893126!2d44.51006567547062!3d40.17769157015408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abcfa28499691%3A0x2bde14d127166c74!2sRepublic%20Square!5e0!3m2!1sen!2sam!4v1723572487192!5m2!1sen!2sam" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					{% comment %} </div> {% endcomment %}
				{% comment %} </div> {% endcomment %}
			</div>
		</div>
	</section>

	<!-- Start Partners -->
	{% include "include/join_us.html" %}

{% endblock content %}
{% block additional_js %}
	<script type="text/javascript" src="{% static 'js/progressbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/timepicker.js' %}"></script>
	{% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM&callback=initMap" type="text/javascript"></script>
	<script type="text/javascript" src="{% static 'js/googlemaps1.js' %}"></script> {% endcomment %}
{% endblock additional_js %}