{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" href="{% static 'css/verification_styles.css'%}">
    <style>
        .alert {
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            font-size: 14px;
        }

        .alert.d-none {
            display: none;
        }

        .alert.error {
            color: #fff; /* White text color for contrast */
            background-color: #d9534f; /* Red background color */
            border: 1px solid #d9534f; /* Red border */
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{% static 'images/header-logo2.png' %}" alt="Company Logo" class="logo">
        <h1>Company Name</h1>
        <h2>Email Verification</h2>
        <p>Enter the 6-digit code sent to your email:</p>
        <div class="code-input">
            <input type="text" id="digit1" maxlength="1">
            <input type="text" id="digit2" maxlength="1">
            <input type="text" id="digit3" maxlength="1">
            <input type="text" id="digit4" maxlength="1">
            <input type="text" id="digit5" maxlength="1">
            <input type="text" id="digit6" maxlength="1">
        </div>
        <div class="ui_kit_message_box">
            <div id="errorMessage" class="alert d-none" role="alert"></div>
        </div>
        <p>Time left: <span id="countdown" data-remaining-time="{{remaining_time}}"></span></p>
        <button id="resend">Resend Code</button>
    </div>
    <script src="{% static 'js/verification_script.js'%}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.addEventListener('visibilitychange', () => {
                if (document.visibilityState === 'visible') {
                    location.reload();
                }
            });
        });
    </script>
</body>
</html>
