{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Successful</title>
    <!-- Favicon -->
    <link href="{% static 'images/favicon.ico'%}" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static 'images/favicon.ico'%}" sizes="128x128" rel="shortcut icon" />
    <link rel="stylesheet" href="{% static 'css/verification_styles.css'%}">
</head>
<body>
    <div class="container">
        <h1>Verification Successful!</h1>
        <p>Your email has been verified successfully.</p>
    </div>
</body>
</html>
