{% extends "extend/base.html" %}
{% load static %}
{% block title %}My Profile{% endblock title %}
{% block additional_css %}
.upload-box {
	width: 100%;
	padding: 20px;
	border: 2px dashed #007bff;
	border-radius: 10px;
	text-align: center;
	margin: 10px auto;
	font-family: Arial, sans-serif;
}

/* Styling the file input */
.upload-box input[type="file"] {
	display: none;
}

/* Custom label for the file input */
.upload-box label {
	display: inline-block;
	padding: 10px 20px;
	color: white;
	background-color: #007bff;
	border-radius: 5px;
	cursor: pointer;
}

/* Styling the file list */
.file-list {
	margin-top: 20px;
	text-align: left;
}

.file-list li {
	list-style: none;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
.upload-title {
    font-size: 1rem;
    font-weight: bold; /* Change to bold if needed */
    color: #333;
    margin: 0;
    display: block;
}
.help-text {
    font-size: 0.875em; /* Slightly smaller than the normal text */
    color: #6c757d; /* Gray color for a subtle appearance */
    margin-top: 5px; /* Space above the help text */
    margin-bottom: 10px; /* Space below the help text */
    line-height: 1.4; /* Comfortable line spacing */
    font-style: italic; /* Optional: make the text italic for emphasis */
}
.notification {
    color: #721c24; /* Dark red text */
    font-size: 16px;
  }

{% endblock additional_css %}
{% block content %}
    {% include "user_profile/include/left-side-menu.html" %}

	<!-- Our Dashbord -->
	<section class="our-dashbord dashbord bgc-f7 pb50">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-xl-2 dn-992 pl0"></div>
				<div class="col-lg-9 col-xl-10 maxw100flex-992">
					<div class="row">
						<div class="col-lg-12">
							<div class="dashboard_navigationbar dn db-992">
								<div class="dropdown">
									<button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i> Dashboard Navigation</button>
									<ul id="myDropdown" class="dropdown-content">
										<li><a href="page-dashboard.html"><span class="flaticon-layers"></span> Dashboard</a></li>
										<li><a href="page-message.html"><span class="flaticon-envelope"></span> Message</a></li>
										<li><a href="page-my-properties.html"><span class="flaticon-home"></span> My Properties</a></li>
										<li><a href="page-my-favorites.html"><span class="flaticon-heart"></span> My Favorites</a></li>
										<li><a href="page-my-savesearch.html"><span class="flaticon-magnifying-glass"></span> Saved Search</a></li>
										<li><a href="page-my-review.html"><span class="flaticon-chat"></span> My Reviews</a></li>
										<li><a href="page-my-packages.html"><span class="flaticon-box"></span> My Package</a></li>
										<li class="active"><a href="{% url 'user_profile:my_profile' %}"><span class="flaticon-user"></span> My Profile</a></li>
										<li><a href="page-add-new-property.html"><span class="flaticon-filter-results-button"></span> Add New Listing</a></li>
										<li><a href="{% url 'logout' %}"><span class="flaticon-logout"></span> Logout</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-12 mb10">
							<div class="breadcrumb_content style2">
								<h2 class="breadcrumb_title" style='margin-left: 30px;'>My Profile</h2>
								<p style='margin-left: 30px;'>We are glad to see you again!</p>
							</div>
						</div>
						<div class="col-lg-12">
							<form action="{% url 'user_profile:my_profile' %}" method="post" enctype="multipart/form-data" > {% csrf_token %}
							<div class="my_dashboard_review">
								<div class="row">
									<div class="col-xl-2">
										<h4>Profile Information</h4>
									</div>
									<div class="col-xl-10">
										<div class="row">
											<div class="col-lg-12">
												<div class="wrap-custom-file" {% if user_photo %}style="background-image: url('{{ user_photo }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"{% endif %}>
												    <input type="file" name="photo" id="image1" accept=".gif, .jpg, .png"/>
												    <label  for="image1">
												      	<span><i class="flaticon-download"></i> Upload Photo </span>
												    </label>
												</div>
												<p>*minimum 260px x 260px</p>
												<div class="error">{{ form_without_rendering.photo.errors }}</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
													<label for="username">Username</label>
													<input type="text" class="form-control" name="username" id="username" value="{{user.username}}" readonly>
													<div class="help-text">This field will be filled automatically</div>
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
													<label for="email">email</label>
													<input type="email" class="form-control" name="email" id="email" value="{{user.email}}" readonly>
												</div>
											</div>
											{{form}}
											{% if user.service_provider != 'US' %}
											<div class="col-lg-6 col-xl-6">	
												<div class="upload-title">Additional Documents</div>
												<div class="upload-box">
													<label for="file-upload">Choose Files</label>
													<input type="file" id="file-upload" multiple>
													<input type="file" id="hidden-file-upload" name="files" multiple style="display: none;">
													<div class="file-list">
														<ul id="file-list-display">
															{% if documents %}
																{% for document in documents %}
																	<li>{{ document }}</li>
																{% endfor %}
															{% endif %}
														</ul>
													</div>
												</div>
												<div class="notification">Uploading new files will replace your existing files.</div>
												<div class="error">{{form_without_rendering.files.errors}}</div>
											</div>
											{% endif %}
											<div class="col-xl-12 text-right">
												<div class="my_profile_setting_input">
													{% if user.service_provider != 'US' %}<button class="btn btn1">View Public Profile</button>{% endif %}
													<button type="submit" name="profile_info" class="btn btn2">Update Profile</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>

						{% if user.service_provider != 'US' %}
							<div class="my_dashboard_review mt30">
								<div class="row">
									<div class="col-xl-2">
										<h4>Social Media</h4>
									</div>
									<div class="col-xl-10">
										<div class="row">
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleSkype">Skype</label>
											    	<input type="text" class="form-control" id="formGroupExampleSkype" placeholder="alitfn">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleWebsite">Website</label>
											    	<input type="text" class="form-control" id="formGroupExampleWebsite" placeholder="creativelayers@gmail.com">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleFaceBook">Facebook</label>
											    	<input type="text" class="form-control" id="formGroupExampleFaceBook">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleTwitter">Twitter</label>
											    	<input type="text" class="form-control" id="formGroupExampleTwitter">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleLinkedin">Linkedin</label>
											    	<input type="text" class="form-control" id="formGroupExampleLinkedin">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleInstagram">Instagram</label>
											    	<input type="text" class="form-control" id="formGroupExampleInstagram">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleGooglePlus">Google Plus</label>
											    	<input type="text" class="form-control" id="formGroupExampleGooglePlus">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleYoutube">Youtube</label>
											    	<input type="text" class="form-control" id="formGroupExampleYoutube">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExamplePinterest">Pinterest</label>
											    	<input type="text" class="form-control" id="formGroupExamplePinterest">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleVimeo">Vimeo</label>
											    	<input type="text" class="form-control" id="formGroupExampleVimeo">
												</div>
											</div>
											<div class="col-xl-12 text-right">
												<div class="my_profile_setting_input">
													<button class="btn btn2">Update Profile</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							<div class="my_dashboard_review mt30">
								<div class="row">
									<div class="col-xl-2">
										<h4>Change password</h4>
									</div>
									<div class="col-xl-10">
										<div class="row">
											<div class="col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleOldPass">Old Password</label>
											    	<input type="text" class="form-control" id="formGroupExampleOldPass" placeholder="alitfn">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleNewPass">New Password</label>
											    	<input type="text" class="form-control" id="formGroupExampleNewPass">
												</div>
											</div>
											<div class="col-lg-6 col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="formGroupExampleConfPass">Confirm New Password</label>
											    	<input type="text" class="form-control" id="formGroupExampleConfPass">
												</div>
											</div>
											<div class="col-xl-12">
												<div class="my_profile_setting_input float-right fn-520">
													<button class="btn btn2">Update Profile</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="my_dashboard_review mt30">
								<div class="row">
									<div class="col-xl-2">
										<h4>Account deletion</h4>
									</div>
									<div class="col-xl-10">
										<div class="row">
											<div class="col-xl-6">
												<div class="my_profile_setting_input form-group">
											    	<label for="deleteinput">Password</label>
											    	<input type="text" class="form-control" id="deleteinput">
												</div>
											</div>
											<div class="col-xl-12">
												<div class="my_profile_setting_input float-right fn-520">
													<button type="submit" class="btn btn3 btn-dark">Delete</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="row mt10">
						<div class="col-lg-12">
							<div class="copyright-widget text-center">
								<p>© 2024 Synergy Terrace Realty.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>
</div>
{% endblock content %}
{% block additional_js %}
	<script type="text/javascript" src="{% static 'js/progressbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/timepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/smartuploader.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dashboard-script.js' %}"></script>
	
	<!-- Handling multiple file uploads -->
	{% if user.service_provider != 'US' %}
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const fileInput = document.getElementById('file-upload');
			const hiddenFileInput = document.getElementById('hidden-file-upload');
			const fileListDisplay = document.getElementById('file-list-display');
			let fileList = [];
		
			// Function to update the hidden file input and display
			function updateFileList() {
				// Clear file list display
				fileListDisplay.innerHTML = '';
		
				// Create a DataTransfer object to manipulate the files list
				const dataTransfer = new DataTransfer();
		
				// Add each file to the DataTransfer object and the list display
				fileList.forEach(file => {
					dataTransfer.items.add(file);
		
					const listItem = document.createElement('li');
					listItem.textContent = file.name;
					fileListDisplay.appendChild(listItem);
				});
		
				// Update the hidden input with the new file list
				hiddenFileInput.files = dataTransfer.files;
			}
		
			// Event listener for changes in the file input
			fileInput.addEventListener('change', function() {
				// Add new files to the fileList array
				Array.from(fileInput.files).forEach(file => {
					fileList.push(file);
				});
		
				// Update the hidden file input and display
				updateFileList();
			});
		});
	</script>
	{% endif %}
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			function generateUsername() {
				// Get the elements by their IDs
				const companyNameElement = document.getElementById('id_name');
				const firstNameElement = document.getElementById('id_first_name');
				const surnameElement = document.getElementById('id_last_name');
				const usernameElement = document.getElementById('username');

				// Initialize the username variable
				let username = '';

				// Check if the company name element exists and has a value
				if (companyNameElement && companyNameElement.value) {
					username = companyNameElement.value;
				} else {
					// Check if first name and surname elements exist and have values
					const firstName = firstNameElement && firstNameElement.value ? firstNameElement.value : '';
					const surname = surnameElement && surnameElement.value ? surnameElement.value : '';

					// Combine first name and surname to create the username
					if (firstName || surname) {
						username = firstName + ' ' + surname;
					}
				}

				// Set the username field only if the username element exists and it's not already filled
				if (usernameElement && !usernameElement.value) {
					usernameElement.value = username;
				}
			}

			// Call the generateUsername function on page load
			generateUsername();
		});
</script>
	
{% endblock additional_js %}
